{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>순번</th>
            <th>Area</th>
            <th>Rack</th>
            <th>Status</th>
            <th>V37</th>
            <th>V74</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if test_list %}
        {% for testItem in test_list.items %}
        <tr>
            <td>{{ test_list.total - ((test_list.page-1) * test_list.per_page) - loop.index0 }}</td>
            <!-- <td>{{ loop.index }}</td> -->
            <td>{{ testItem.area }}</td>
            <td>{{ testItem.rack }}</td>
            <td>{{ testItem.status }}</td>
            <td>{{ testItem.v37 }}</td>
            <td>{{ testItem.v74 }}</td>
            <td>{{ testItem.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        {% if test_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ test_list.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_num in test_list.iter_pages() %}
            {% if page_num %}
                {% if page_num != test_list.page %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% endif %}
           {% else %}
                <li class="disabled">
                    <a class="page-link" href="#">...</a>
                </li>
           {% endif %}
        {% endfor %}
        {% if test_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ test_list.next_num }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

</div>

{% endblock %}
